@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムフォント */
body {
  font-family: 'Noto Sans JP', 'sans-serif';
}

/* 角丸ボタン用カスタムクラス */
.btn-rounded {
  border-radius: 14px;
}

/* lucideアイコンの余白調整 */
.icon-left {
  margin-right: 0.5em;
}